n8n/workflows/auto-export-workflows.json
{
  "name": "Auto-Export Workflows to Git",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "name": "Cron - Every 6 hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "id": "cron-trigger-1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "export-workflows",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook - Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        480
      ],
      "webhookId": "export-workflows",
      "id": "webhook-trigger-1"
    },
    {
      "parameters": {
        "command": "cd /data && . /data/.env && sh /data/scripts/export-n8n-workflows-docker.sh"
      },
      "name": "Execute Export Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        460,
        390
      ],
      "id": "execute-script-1"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.exitCode}}",
              "operation": "equal",
              "value2": "0"
            }
          ]
        }
      },
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        680,
        390
      ],
      "id": "check-success-1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"Workflows exported successfully\", \"output\": $json.stdout } }}"
      },
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "id": "success-response-1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"error\", \"message\": \"Export failed\", \"error\": $json.stderr } }}",
        "options": {
          "responseCode": 500
        }
      },
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        900,
        480
      ],
      "id": "error-response-1"
    }
  ],
  "connections": {
    "Cron - Every 6 hours": {
      "main": [
        [
          {
            "node": "Execute Export Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Manual Trigger": {
      "main": [
        [
          {
            "node": "Execute Export Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Export Script": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "tags": []
}
