n8n/workflows/f8tiokBXgRDzPGVO_My_workflow.json
{
  "updatedAt": "2025-12-16T21:12:37.793Z",
  "createdAt": "2025-12-16T20:03:50.346Z",
  "id": "f8tiokBXgRDzPGVO",
  "name": "My workflow",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        336,
        112
      ],
      "id": "785293a4-def3-43b2-bdf3-e6e0b9718684",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "IaQql2Rc0mVpvRYx",
          "mode": "list",
          "cachedResultUrl": "/workflow/IaQql2Rc0mVpvRYx",
          "cachedResultName": "My Sub-workflow test"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        560,
        608
      ],
      "id": "ad3b2504-8ab8-4564-a0bb-d103ebf83ec5",
      "name": "Call 'My Sub-workflow test'"
    },
    {
      "parameters": {
        "source": "parameter",
        "workflowJson": "={{ $json.chatInput }}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        368,
        640
      ],
      "id": "92ea2929-0e61-4cac-a4ff-399018fa6d8d",
      "name": "Call n8n Workflow Tool"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -464,
        240
      ],
      "id": "ad3df631-43dd-4809-8ce0-d89ab644dcd7",
      "name": "When chat message received",
      "webhookId": "8eb48184-38b6-4b27-a671-e21f9ef4c3dd"
    },
    {
      "parameters": {
        "model": "llama3.1:8b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        160,
        512
      ],
      "id": "a65af13d-9b72-400a-90b0-c5a3f80c83b3",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "6l4JjfOyCB2Uk6dI",
          "name": "Ollama account 2"
        }
      }
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Call 'My Sub-workflow test'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "9de41f9f-1286-4dad-9129-1bc6b33b07d7",
  "activeVersionId": null,
  "versionCounter": 3,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-16T20:03:50.346Z",
      "createdAt": "2025-12-16T20:03:50.346Z",
      "role": "workflow:owner",
      "workflowId": "f8tiokBXgRDzPGVO",
      "projectId": "IAHu1pQG7dfjTd27",
      "project": {
        "updatedAt": "2025-12-11T22:33:03.220Z",
        "createdAt": "2025-12-11T22:31:39.471Z",
        "id": "IAHu1pQG7dfjTd27",
        "name": "Maximilien Borne <maximilien.borne@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "570e55b9-573e-4a41-afcc-59cd77b6ae62",
        "projectRelations": [
          {
            "updatedAt": "2025-12-11T22:31:39.471Z",
            "createdAt": "2025-12-11T22:31:39.471Z",
            "userId": "570e55b9-573e-4a41-afcc-59cd77b6ae62",
            "projectId": "IAHu1pQG7dfjTd27",
            "user": {
              "updatedAt": "2026-01-07T08:35:59.818Z",
              "createdAt": "2025-12-11T22:31:39.257Z",
              "id": "570e55b9-573e-4a41-afcc-59cd77b6ae62",
              "email": "maximilien.borne@gmail.com",
              "firstName": "Maximilien",
              "lastName": "Borne",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "NSySTjcSvLewMF1T",
                "userActivatedAt": 1765806789336
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-07",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
