n8n/workflows/T9flKT6C7HxzTKuv_Projet001_Analytics.json
{
  "updatedAt": "2026-01-03T17:44:13.532Z",
  "createdAt": "2026-01-03T17:07:18.430Z",
  "id": "T9flKT6C7HxzTKuv",
  "name": "Projet001_Analytics",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "b67cdc4f-95d1-4521-b207-6176431234b7",
      "name": "Normalize Inputs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        224,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "const q = ($json.question || '').trim();\nconst a = ($json.answer || '').trim();\nconst ctx = ($json.context || '').trim();\n\n// Petit score simple (optionnel) pour suivre la qualité RAG dans Braintrust\nlet ragScore = 0;\nif (ctx.length > 200) ragScore += 0.5;\nif (a.length > 30) ragScore += 0.5;\n\nreturn [{\n  json: {\n    ...$json,\n    ragScore,\n    hasContext: ctx.length > 0\n  }\n}];"
      },
      "id": "6a42a3ef-11e4-417d-a313-c55ea105f41b",
      "name": "Compute ragScore",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        64
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.google-analytics.com/mp/collect?measurement_id=G-NJ8YGSFZ9N&api_secret=XXXX",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-Q8fBY8L7i376cVN0A2X1H0WCZJyrSdLQXrxoQTOZZX9Yoe0f"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  events: [\n    {\n      input: $json.question,\n      output: $json.answer,\n      metadata: {\n        ragScore: $json.ragScore ?? null,\n        hasContext: $json.hasContext ?? null,\n        context: $json.context ?? null,\n        custom: $json.metadata ?? null\n      }\n    }\n  ]\n}) }}",
        "options": {}
      },
      "id": "36769ac7-49bd-4e1d-b0b1-692488da1aee",
      "name": "Braintrust - Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        736,
        64
      ]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "122b3584-93a1-4711-a51d-48a3c5c22689",
      "name": "Return",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        976,
        64
      ]
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "project"
            },
            {
              "name": "question"
            },
            {
              "name": "answer"
            },
            {
              "name": "context"
            },
            {
              "name": "metadata"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -128,
        64
      ],
      "id": "f82d2bac-87ff-4f82-a3dd-a4468d1bf3d7",
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "Normalize Inputs": {
      "main": [
        [
          {
            "node": "Compute ragScore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute ragScore": {
      "main": [
        [
          {
            "node": "Braintrust - Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Braintrust - Log": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Normalize Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "19f268d0-e54c-4669-8261-304eb9396528",
  "activeVersionId": null,
  "versionCounter": 5,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-03T17:07:18.430Z",
      "createdAt": "2026-01-03T17:07:18.430Z",
      "role": "workflow:owner",
      "workflowId": "T9flKT6C7HxzTKuv",
      "projectId": "IAHu1pQG7dfjTd27",
      "project": {
        "updatedAt": "2025-12-11T22:33:03.220Z",
        "createdAt": "2025-12-11T22:31:39.471Z",
        "id": "IAHu1pQG7dfjTd27",
        "name": "Maximilien Borne <maximilien.borne@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "570e55b9-573e-4a41-afcc-59cd77b6ae62",
        "projectRelations": [
          {
            "updatedAt": "2025-12-11T22:31:39.471Z",
            "createdAt": "2025-12-11T22:31:39.471Z",
            "userId": "570e55b9-573e-4a41-afcc-59cd77b6ae62",
            "projectId": "IAHu1pQG7dfjTd27",
            "user": {
              "updatedAt": "2026-01-07T08:52:56.782Z",
              "createdAt": "2025-12-11T22:31:39.257Z",
              "id": "570e55b9-573e-4a41-afcc-59cd77b6ae62",
              "email": "maximilien.borne@gmail.com",
              "firstName": "Maximilien",
              "lastName": "Borne",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "NSySTjcSvLewMF1T",
                "userActivatedAt": 1765806789336
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-07",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-01-03T17:07:22.725Z",
      "createdAt": "2026-01-03T17:07:22.725Z",
      "id": "jr3rmKkagpzKJtVE",
      "name": "analytics"
    }
  ],
  "activeVersion": null
}
